<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RPi Home</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

<div class="header">
    <img class="logo-img" src="../static/images/icons8-raspberry-pi-480.png">
    <a href="#home" class="logo">RPi Home</a>
    <div class="header-right">
        <a class="active" href="#home">Home</a>
    </div>
</div>

<div id="content" class="container main-container">
    {% block content %}{% endblock %}
</div>

<div class="footer">
  <p>&copy; 2020 Dilin Dampahalage</p>
</div>
</body>
</html>
