<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RPi Home</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
</head>
<body>

<div class="header">
    <img class="logo-img" src="../static/images/icons8-raspberry-pi-480.png">
    <a href="#home" class="logo">RPi Home</a>
    <div class="header-right">
        <a class="active" href="#home">Home</a>
    </div>
</div>

<div style="padding-left:20px">

</div>

<div class="footer">
  <p>&copy; 2020 Dilin Dampahalage</p>
</div>
</body>
</html>
